.wrapper {
  width: 100%;
}

.canvasShell {
  border-radius: 24px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: #f4f6fb;
  overflow: hidden;
  width: 100%;
  height: 320px;
}

.canvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  display: block;
}

